.btn {
  display: inline-block;
  padding: 16px 32px;
  background: var(--gradient);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.33;
  font-family: "Poppins";
  font-weight: 600;
  color: #332200;
  max-width: max-content;
}

.btn:hover {
  background: var(--gradient-hover);
}

.btn.secundario {
  background: var(--g10);
  color: var(--g2);
}

.btn.secundario:hover {
  background: var(--g9);
}

@media (max-width: 600px) {
  .btn {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

/* titulo interno */
.titulo-bg {
  background-color: var(--g11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
